

<div class="jumbotron center">

<h1>Welcome to the technician page </h1>
<h2> create tickets here </h2>
<%= link_to "Add Ticket", new_ticket_path, class:'btn btn-success' %>
 <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Customer Address</th>
      <th>Phone Number</th>
      <th></th>
    </tr>
  </thead>  
  <tbody>
    <%= render @tickets %>
  </tbody>
</table>
