<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <%= link_to 'Tech', root_path, class:"navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if current_user %>
          <%= link_to 'Logout', destroy_user_session_path, class:"nav-link", method: :delete %>
        <% end %>
      </li>
    </ul>
    
  </div>
</nav>